@charset "UTF-8";

.settings_page_dts-simple-share h2 {
    margin-bottom: 0;
    margin-top: 25px;
    padding: 10px;
    background-color: white;
}

.settings_page_dts-simple-share h2+p {
    margin-top: 0;
    background-color: white;
    padding: 0 10px 10px 10px;
}

.settings_page_dts-simple-share .wrap>h2:first-child {
    padding-left: 10px;
    padding-bottom: 12px;
}

.settings_page_dts-simple-share .form-table th,
.settings_page_dts-simple-share .form-table td {
    padding: 12px 10px 0 10px;
}

.settings_page_dts-simple-share .form-table td input[type="text"] {
    margin-top: -2px;
    min-width: 300px;
    width: 100%;
}

.text-align-center {
    text-align: center;
}

#dts-sortable li {
    display: inline-block;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

#admin_sharebar_example {
    margin-top: 20px;
}

.dts-alert.success {
    color: green;
}

.dts-alert.error {
    color: red;
}

.settings_page_dts-simple-share .dts-clear {
    margin-top: 50px;
    clear: both;
}

.settings_page_dts-simple-share .dts-column-container {
    display: table;
}

.settings_page_dts-simple-share .dts-column-33 {
    display: table-cell;
    box-sizing: border-box;
    width: 30%;
    padding: 20px;
    margin: 5px;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #eee;
    padding-bottom: 40px;
}

.settings_page_dts-simple-share p.submit {
    text-align: center;
}

.settings_page_dts-simple-share p.submit #submit {
    padding: 15px 75px;
    vertical-align: middle;
    height: auto;
    font-size: 1.2em;
}

@media screen and (max-width: 1280px) {
    .settings_page_dts-simple-share .dts-column-33 {
        display: block;
        width: 100%;
    }
}